.page-wrapper-mobile{
    padding: 60px 0px 0px 0px;
    width: auto;
    overflow: hidden;
    .logo-wrapper{
        text-align: left; 
        padding: 0px 15px 0px 55px ;
        max-width: 600px;
        margin: 0px auto;
    }

    .carousel-wrapper{
        margin: 20px auto 0px auto ;
        padding: 0px 40px;
        max-width: 600px;
        .carousel{
            .slide-1{
                height: auto;
                img{
                    width: 100%;
                    border-radius: 23px;
                }
                .title{
                    margin: 10px 0px 0px 0px ;
                    line-height: 40px;
                    font-family: Muli-ExtraBold;
                    font-size: 35px;
                    color: #181818;
                    span{
                        color: #ff4c47;
                    }
                }
            }
            .slide-2{
                height: auto;
                img{
                    width: 100%;
                    border-radius: 23px;
                }
                .title{
                    margin: 10px 0px 0px 0px ;
                    line-height: 40px;
                    font-family: Muli-ExtraBold;
                    font-size: 35px;
                    color: #181818;
                    span{
                        color: #ff4c47;
                    }
                }
            }
            .slide-3{
                height: auto;
                img{
                    width: 100%;
                    border-radius: 23px;
                }
                .title{
                    margin: 10px 0px 0px 0px ;
                    line-height: 40px;
                    font-family: Muli-ExtraBold;
                    font-size: 35px;
                    color: #181818;
                    span{
                        color: #ff4c47;
                    }
                }
            }
            .slick-prev{
                background: url(../../assets/images/microsite/ic-arrow-prev.png);
                background-size: contain;
                width: 45px;
                height: 45px;
                left: -40px;
            }
            .slick-next {
                background: url(../../assets/images/microsite/ic-arrow-next.png);
                background-size: contain;
                width: 45px;
                height: 45px;
                right: -40px;
            }
            .slick-arrow {
                top:40%;
                border-radius:50%;
                overflow:hidden;
                border:1px solid #eee;
                border:1px solid #eee;
                &:before {
                    display: none;
                }
            }
            .slick-slide{
                height: auto;
            }
        }
        .bottom-carousel{
            margin: 20px 0px 0px 0px ;
            a{
                margin: 0px 0px 0px 0px ;
                line-height: 32px; 
                width: auto; 
                height: 50px;
                display: block; 
                padding: 8px; 
                border-radius: 38px; 
                background-color: #ff4c47; 
                text-align: center; 
                font-family: Muli-SemiBold; 
                font-size: 25px;
                color: #ffffff;
            }
            .scroll{
                margin: 20px 0px 0px 0px ;
                display: flex;
                justify-content: center;
                img{
                    height: 59px; 
                    width: 33px;
                }
            }
            .scroll-text{
                margin: 10px 0px 0px 0px ;
                display: flex;
                justify-content: center;
                text-align: center;
                font-family: Muli-SemiBold;
                font-size: 20px;
                color: #181818;
            }
        }
    }

    .video-wrapper{
        margin: 0px 0px 0px 0px ;
        border-radius: 40px;
        .video-layer{
            position: relative;
            .cloud-2{
                width: 100%;
                position: absolute;
                img{
                    height: 250px;
                    width: 200%;
                    z-index: -1;
                    position: absolute;
                    top: 0px;
                    left: -40%;
                    display: flex;
                    justify-content: center;
                }
            }
        }
        .video-content{
            margin: 20px auto 0px auto ;
            padding: 0px 30px ;
            max-width: 600px;
            iframe{
                border-radius: 8px; 
            }
            .scroll{
                margin: 20px 0px 0px 0px ;
                display: flex;
                justify-content: center;
                img{
                    height: 59px; 
                    width: 33px;
                }
            }
            .scroll-text{
                margin: 10px 0px 0px 0px ;
                display: flex;
                justify-content: center;
                text-align: center;
                font-family: Muli-SemiBold;
                font-size: 20px;
                color: #181818;
            }
        }
    }

    .promo-wrapper{
        padding: 150px 0 0 0;
        position: relative;
        .promo-content{
           margin: 0 auto;
            max-width: 480px;
            z-index: 3;
            h1{
                margin: 0px 0px 60px 0px;
                height: 42px;
                text-align: center; 
                font-family: Muli-ExtraBold; 
                font-size: 58px;
                color: #ffffff;
                z-index: 0;
                position: relative;
            }
            hr{
                height:10px;
                width: 97px;
                background-color:#ffffff;
                position: relative;
            }
            .promo-card-star{
                display: flex;
                justify-content: center;
                padding: 0px 20px;
                .star-card{
                    border-radius: 24px;
                    background-color: #ffffff;
                    width: 100%;
                    height: 100%;
                    box-shadow: 5.8px 10.5px 16px 0 rgba(0, 0, 0, 0.1);
                    overflow: hidden;
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    .promo-card-cloud{
                        z-index: 0;
                        position: absolute;
                        left: 0px;
                        height: 300px;
                        bottom: 0px;
                    }
                    .promo-card-content{
                        height: 50%;
                        margin: 40px 8% 0px 8%;
                        width: 100%;
                        z-index: 1;
                        .image-modem-star{
                            margin: 0px 20% 0px 20%;
                            img{
                                width: 150%;
                            }
                        }
                        .title{
                            margin: 20px 0px 0px 0px;
                            text-align: left; 
                            font-family: Muli-Medium; 
                            font-size: 30px;
                            color: #030303;
                            line-break: 55px;
                            b{
                                margin: 20px 0px 0px 0px;
                                text-align: left; 
                                font-family: Muli-ExtraBold; 
                                font-size: 30px;
                                color: #030303;
                                line-break: 55px;
                            }
                        }
                        .subtitle{
                            margin: 5px 0px 0px 0px;
                            text-align: left; 
                            font-family: Muli-Regular; 
                            font-size: 20px;
                            color: #e87f21;
                        }
                        .price-after-promo{
                            margin: 0px 0px 0px 0px;
                            text-align: left; 
                            font-family: Muli-Bold; 
                            font-size: 30px;
                            color: #ff4c48;
                        }
                        .price-before-promo{
                            margin: 0px 0px 0px 0px;
                            text-align: left; 
                            font-family: Muli-Regular; 
                            font-size: 20px;
                            color: #696868;
                            text-decoration: line-through;
                        }
                        .benefit-1{
                            margin: 20px 0px 0px 0px;
                            img{
                                height: 30px;
                                width: auto;
                                margin: auto 0px auto 0px;
                            }
                            p{
                                @media only screen and (max-width: 320px) {
                                    margin: auto 0px auto 10px;
                                    text-align: left; 
                                    font-family: Muli-Regular; 
                                    font-size: 13px;
                                    color: #010101;
                                }
                                @media only screen and (min-width: 321px) {
                                    
                                    margin: auto 0px auto 5px;
                                    text-align: left; 
                                    font-family: Muli-Regular; 
                                    font-size: 17px;
                                    color: #010101;
                                }
                            }
                        }
                        .benefit-2{
                            margin: 10px 0px 0px 0px;
                            img{
                                height: auto;
                                width: 35px;
                                margin: auto 0px auto 0px;
                            }
                            p{
                                @media only screen and (max-width: 320px) {
                                    margin: auto 0px auto 10px;
                                    text-align: left; 
                                    font-family: Muli-Regular; 
                                    font-size: 13px;
                                    color: #010101;
                                }
                                @media only screen and (min-width: 321px) {
                                    
                                    margin: auto 0px auto 5px;
                                    text-align: left; 
                                    font-family: Muli-Regular; 
                                    font-size: 17px;
                                    color: #010101;
                                }
                            }
                        }
                       
                    }
                    .button-wrapper{
                        margin: 20px 5% 40px 5%;
                        width: 100%;
                        z-index: 1;
                        .button-1{
                            margin:10px 0px;
                            height: 50px;
                            display: block; 
                            padding: 8px; 
                            border-radius: 38px; 
                            background-color: #ff4c47; 
                            text-align: center; 
                            font-family: Muli-Regular; 
                            font-size: 17px;
                            color: #ffffff;
                        }
                        .button-2{
                            line-height: 30px; 
                            height: 50px;
                            display: block;
                            border-radius: 38px; 
                            border-style: solid;
                            border-width: 2px;
                            padding: 8px; 
                            border-color: #010101;
                            text-align: center; 
                            font-family: Muli-Regular; 
                            font-size: 17px;
                            color: #010101;
                            
                        }
                    }
                }
            }
            .promo-card-max{
                margin: 40px 0px 0px 0px;
                display: flex;
                justify-content: center;
                padding: 0px 20px;
                .max-card{
                    border-radius: 24px;
                    background-color: #ffffff;
                    width: 100%;
                    height: 100%;
                    box-shadow: 5.8px 10.5px 16px 0 rgba(0, 0, 0, 0.1);
                    overflow: hidden;
                    display: flex;
                    flex-wrap: wrap;
                    position: relative;
                    .promo-card-cloud{
                        z-index: 0;
                        position: absolute;
                        left: 0px;
                        height: 300px;
                        bottom: 0px;
                    }
                    .promo-card-content{
                        height: 50%;
                        margin: 40px 8% 0px 8%;
                        width: 100%;
                        z-index: 1;
                        .image-modem-star{
                            margin: 0px 20% 0px 20%;
                            img{
                                height: auto; 
                                width: 150%;
                            }
                        }
                        .title{
                            margin: 20px 0px 0px 0px;
                            text-align: left; 
                            font-family: Muli-Medium; 
                            font-size: 30px;
                            color: #030303;
                            line-break: 55px;
                            b{
                                margin: 20px 0px 0px 0px;
                                text-align: left; 
                                font-family: Muli-ExtraBold; 
                                font-size: 30px;
                                color: #030303;
                                line-break: 55px;
                            }
                        }
                        .subtitle{
                            margin: 5px 0px 0px 0px;
                            text-align: left; 
                            font-family: Muli-Regular; 
                            font-size: 20px;
                            color: #e87f21;
                        }
                        .price-after-promo{
                            margin: 0px 0px 0px 0px;
                            text-align: left; 
                            font-family: Muli-Bold; 
                            font-size: 30px;
                            color: #ff4c48;
                        }
                        .price-before-promo{
                            margin: 0px 0px 0px 0px;
                            text-align: left; 
                            font-family: Muli-Regular; 
                            font-size: 20px;
                            color: #696868;
                            text-decoration: line-through;
                        }
                        .benefit-1{
                            margin: 20px 0px 0px 0px;
                            img{
                                height: 30px;
                                width: auto;
                                margin: auto 0px auto 0px;
                            }
                            p{
                                @media only screen and (max-width: 320px) {
                                    margin: auto 0px auto 10px;
                                    text-align: left; 
                                    font-family: Muli-Regular; 
                                    font-size: 13px;
                                    color: #010101;
                                }
                                @media only screen and (min-width: 321px) {
                                    
                                    margin: auto 0px auto 10px;
                                    text-align: left; 
                                    font-family: Muli-Regular; 
                                    font-size: 17px;
                                    color: #010101;
                                }
                            }
                        }
                        .benefit-2{
                            margin: 10px 0px 0px 0px;
                            img{
                                height: auto;
                                width: 35px;
                                margin: auto 0px auto 0px;
                            }
                            p{
                                @media only screen and (max-width: 320px) {
                                    margin: auto 0px auto 5px;
                                    text-align: left; 
                                    font-family: Muli-Regular; 
                                    font-size: 13px;
                                    color: #010101;
                                }
                                @media only screen and (min-width: 321px) {
                                    
                                    margin: auto 0px auto 5px;
                                    text-align: left; 
                                    font-family: Muli-Regular; 
                                    font-size: 17px;
                                    color: #010101;
                                }
                                
                            }
                        }
                       
                    }
                    .button-wrapper{
                        margin: 20px 5% 40px 5%;
                        width: 100%;
                        z-index: 1;
                        .button-1{
                            margin:10px 0px;
                            height: 50px;
                            display: block; 
                            padding: 8px; 
                            border-radius: 38px; 
                            background-color: #ff4c47; 
                            text-align: center; 
                            font-family: Muli-Regular; 
                            font-size: 17px;
                            color: #ffffff;
                        }
                        .button-2{
                            line-height: 30px; 
                            height: 50px;
                            display: block;
                            border-radius: 38px; 
                            border-style: solid;
                            border-width: 2px;
                            padding: 8px; 
                            border-color: #010101;
                            text-align: center; 
                            font-family: Muli-Regular; 
                            font-size: 17px;
                            color: #010101;
                            
                        }
                    }
                }
            }
            .scroll{
                margin: 40px 0px 0px 0px;
                display: flex;
                justify-content: center;
                img{
                    height: 59px; 
                    width: 33px;
                }
            }
            .scroll-text{
                margin: 14px 0px 0px 0px;
                font-family: Muli-SemiBold; 
                font-size: 20px; 
                color: #181818; 
                text-align: center;
            }
        }
        .promo-layer{
            background-color: #f15b55;
            position: absolute;
            margin: 0 0 0 0;
            z-index: -5;
            overflow: hidden;
            top: 0;
            width: 100%;
            margin: 50px 0 0 0;
            .cloud-left{
                height: 50%;
                width: 50%;
                position: relative;
                img{
                    z-index: 0;
                    position: relative;
                    left: -120px;
                    top: 10px;
                }
            }
        }
    }

    .registration-wrapper{
        margin: 40px 0px 0px 0px;
        padding: 50px 0px  0px 0px;
        background-color: #f4f4f4;

        .registration-popup-wrapper{
            margin: -50px 0px 0px 0px;
            height: 1px;
            position: relative;
            z-index: 1;
            display: none;
            .registration-popup-layer{
                opacity: 0.7;
                background-color: #0b0b0b;
                z-index: 2;
                height: 1350px;
                width: 100%;
            }
            .registration-popup-content{
                margin: 0px 0px 0px 0px;
                width: 100%;
                z-index: 3;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                img{
                    width: 340px;
                    height: 300px;
                    position: absolute;
                    top: 340%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                .registration-popup-description{
                    margin: 0px 0px 0px 0px;
                    width: 100%;
                    height: auto;
                    z-index: 4;
                    position: relative;
                    top: 490px;
                    h1{
                        text-align: center; 
                        font-family: Muli-ExtraBold; 
                        font-size: 20px;
                        color: #ffffff;
                    }
                    hr{
                        height:2px;
                        width: 50px;
                        background-color:#ffffff;
                        z-index: 4;
                        position: relative;
                    }
                    p{
                        text-align: center; 
                        font-family: Muli-Medium; 
                        font-size: 15px;
                        color: #ffffff;
                        line-height: 18px;
                    }
                    a{
                        margin: 3px auto 0px auto;
                        max-width: 300px; 
                        width: 100%; 
                        height: 40px;
                        display: block; 
                        padding: 8px; 
                        border-radius: 38px; 
                        background-color: #ffffff; 
                        text-align: center; 
                        font-family: Muli-SemiBold; 
                        font-size: 15px;
                        color: #ff4c47;
                        z-index: 4;
                        position: relative;
                    }
                }
            }
        }
        .registration-content{
            margin: 40px auto 0px auto;
            max-width: 600px;
            select{
                -webkit-appearance: none;
                color:#757575;
                background-image: linear-gradient(45deg, transparent 50%, red 50%), linear-gradient(135deg, red 50%, transparent 50%), linear-gradient(to right, white, white);
                background-position: calc(100% - 25px) calc(1em + 5px), calc(100% - 15.51px) calc(1em + 5px), 100% -5px;
                background-size: 10px 10px, 10px 10px, 2.5em 2.5em;
                background-repeat: no-repeat;
            }
            h1{
                margin: 0px 0px 0px 0px;
                height: 42px;
                text-align: center; 
                font-family: Muli-ExtraBold; 
                font-size: 40px;
                color: #181818;
            }
            h2{
                padding: 0px 5%;
                margin: 29px 0px 37px 0px;
                text-align: center; 
                font-family: Muli-SemiBold; 
                font-size: 25px;
                color: #181818;
            }
            hr{
                height:10px;
                width: 97px;
                background-color:#f15b55;
            }
            form, .form-register-mobile{
                display: flex;
                padding: 0px 10px 0px 10px;
                justify-content: center;
                .form-label{
                    margin: 10px 0px 0px 0px;
                    font-family: Muli-SemiBold; 
                    font-size: 25px;
                    color: #181818;
                }
                .form-input{
                    border-style: solid;
                    border-width: 2px;
                    border-color: #f15b55;
                    height: 50px;
                    background-color: #ffffff;
                }
                #form-submit-mobile{
                    margin: 53px auto;
                    text-align: center;
                    width: 100%; 
                    height: 50px;
                    display: block; 
                    padding: 5px; 
                    border-radius: 38px; 
                    background-color: #ff4c47; 
                    text-align: center; 
                    font-family: Muli-SemiBold; 
                    font-size: 17px;
                    color: #ffffff;
                    border: #ff4c47;
                }
                .form-error-mobile{
                    color: #FF0000;
                    width: 100%; 
                    display: none;
                }
            }
        }
        
    }

    .spot-wrapper{
        margin: 40px 0px 0px 0px;
        padding: 0px 10px 0px 10px;
        position: relative;
        .spot-layer{
            height: 400px;
            position: absolute;
            bottom: 0px;
            img{
                height: 402px;
                width: 600px;
                z-index: -2;
                position: absolute;
                bottom: -100px;
                display: flex;
                justify-content: center;
            }
        }
        .spot-content{
            max-width: 600px;
            margin: 0px auto 0px auto;
            .spot-location{
                h1{
                    text-align: center; 
                    font-family: Muli-ExtraBold; 
                    font-size: 40px;
                    color: #181818;
                }
                hr{
                    height:10px;
                    width: 97px;
                    background-color:#f15b55;
                }
                .spot-location-description{
                    text-align: center;
                }
            }
            .spot-image{
                img{
                    height: auto;
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (min-width: 769px) {
    .page-wrapper-mobile {
        display: none;
    }
}