.page-wrapper-mobile {
  padding: 60px 0px 0px 0px;
  width: auto;
  overflow: hidden;
}

.page-wrapper-mobile .logo-wrapper {
  text-align: left;
  padding: 0px 15px 0px 55px;
  max-width: 600px;
  margin: 0px auto;
}

.page-wrapper-mobile .carousel-wrapper {
  margin: 20px auto 0px auto;
  padding: 0px 40px;
  max-width: 600px;
}

.page-wrapper-mobile .carousel-wrapper .carousel .slide-1 {
  height: auto;
}

.page-wrapper-mobile .carousel-wrapper .carousel .slide-1 img {
  width: 100%;
  border-radius: 23px;
}

.page-wrapper-mobile .carousel-wrapper .carousel .slide-1 .title {
  margin: 10px 0px 0px 0px;
  line-height: 40px;
  font-family: Muli-ExtraBold;
  font-size: 35px;
  color: #181818;
}

.page-wrapper-mobile .carousel-wrapper .carousel .slide-1 .title span {
  color: #ff4c47;
}

.page-wrapper-mobile .carousel-wrapper .carousel .slide-2 {
  height: auto;
}

.page-wrapper-mobile .carousel-wrapper .carousel .slide-2 img {
  width: 100%;
  border-radius: 23px;
}

.page-wrapper-mobile .carousel-wrapper .carousel .slide-2 .title {
  margin: 10px 0px 0px 0px;
  line-height: 40px;
  font-family: Muli-ExtraBold;
  font-size: 35px;
  color: #181818;
}

.page-wrapper-mobile .carousel-wrapper .carousel .slide-2 .title span {
  color: #ff4c47;
}

.page-wrapper-mobile .carousel-wrapper .carousel .slide-3 {
  height: auto;
}

.page-wrapper-mobile .carousel-wrapper .carousel .slide-3 img {
  width: 100%;
  border-radius: 23px;
}

.page-wrapper-mobile .carousel-wrapper .carousel .slide-3 .title {
  margin: 10px 0px 0px 0px;
  line-height: 40px;
  font-family: Muli-ExtraBold;
  font-size: 35px;
  color: #181818;
}

.page-wrapper-mobile .carousel-wrapper .carousel .slide-3 .title span {
  color: #ff4c47;
}

.page-wrapper-mobile .carousel-wrapper .carousel .slick-prev {
  background: url(../../assets/images/microsite/ic-arrow-prev.png);
  background-size: contain;
  width: 45px;
  height: 45px;
  left: -40px;
}

.page-wrapper-mobile .carousel-wrapper .carousel .slick-next {
  background: url(../../assets/images/microsite/ic-arrow-next.png);
  background-size: contain;
  width: 45px;
  height: 45px;
  right: -40px;
}

.page-wrapper-mobile .carousel-wrapper .carousel .slick-arrow {
  top: 40%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #eee;
  border: 1px solid #eee;
}

.page-wrapper-mobile .carousel-wrapper .carousel .slick-arrow:before {
  display: none;
}

.page-wrapper-mobile .carousel-wrapper .carousel .slick-slide {
  height: auto;
}

.page-wrapper-mobile .carousel-wrapper .bottom-carousel {
  margin: 20px 0px 0px 0px;
}

.page-wrapper-mobile .carousel-wrapper .bottom-carousel a {
  margin: 0px 0px 0px 0px;
  line-height: 32px;
  width: auto;
  height: 50px;
  display: block;
  padding: 8px;
  border-radius: 38px;
  background-color: #ff4c47;
  text-align: center;
  font-family: Muli-SemiBold;
  font-size: 25px;
  color: #ffffff;
}

.page-wrapper-mobile .carousel-wrapper .bottom-carousel .scroll {
  margin: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-wrapper-mobile .carousel-wrapper .bottom-carousel .scroll img {
  height: 59px;
  width: 33px;
}

.page-wrapper-mobile .carousel-wrapper .bottom-carousel .scroll-text {
  margin: 10px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: Muli-SemiBold;
  font-size: 20px;
  color: #181818;
}

.page-wrapper-mobile .video-wrapper {
  margin: 0px 0px 0px 0px;
  border-radius: 40px;
}

.page-wrapper-mobile .video-wrapper .video-layer {
  position: relative;
}

.page-wrapper-mobile .video-wrapper .video-layer .cloud-2 {
  width: 100%;
  position: absolute;
}

.page-wrapper-mobile .video-wrapper .video-layer .cloud-2 img {
  height: 250px;
  width: 200%;
  z-index: -1;
  position: absolute;
  top: 0px;
  left: -40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-wrapper-mobile .video-wrapper .video-content {
  margin: 20px auto 0px auto;
  padding: 0px 30px;
  max-width: 600px;
}

.page-wrapper-mobile .video-wrapper .video-content iframe {
  border-radius: 8px;
}

.page-wrapper-mobile .video-wrapper .video-content .scroll {
  margin: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-wrapper-mobile .video-wrapper .video-content .scroll img {
  height: 59px;
  width: 33px;
}

.page-wrapper-mobile .video-wrapper .video-content .scroll-text {
  margin: 10px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: Muli-SemiBold;
  font-size: 20px;
  color: #181818;
}

.page-wrapper-mobile .promo-wrapper {
  padding: 150px 0 0 0;
  position: relative;
}

.page-wrapper-mobile .promo-wrapper .promo-content {
  margin: 0 auto;
  max-width: 480px;
  z-index: 3;
}

.page-wrapper-mobile .promo-wrapper .promo-content h1 {
  margin: 0px 0px 60px 0px;
  height: 42px;
  text-align: center;
  font-family: Muli-ExtraBold;
  font-size: 58px;
  color: #ffffff;
  z-index: 0;
  position: relative;
}

.page-wrapper-mobile .promo-wrapper .promo-content hr {
  height: 10px;
  width: 97px;
  background-color: #ffffff;
  position: relative;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 20px;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card {
  border-radius: 24px;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 5.8px 10.5px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 5.8px 10.5px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card .promo-card-cloud {
  z-index: 0;
  position: absolute;
  left: 0px;
  height: 300px;
  bottom: 0px;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card .promo-card-content {
  height: 50%;
  margin: 40px 8% 0px 8%;
  width: 100%;
  z-index: 1;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card .promo-card-content .image-modem-star {
  margin: 0px 20% 0px 20%;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card .promo-card-content .image-modem-star img {
  width: 150%;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card .promo-card-content .title {
  margin: 20px 0px 0px 0px;
  text-align: left;
  font-family: Muli-Medium;
  font-size: 30px;
  color: #030303;
  line-break: 55px;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card .promo-card-content .title b {
  margin: 20px 0px 0px 0px;
  text-align: left;
  font-family: Muli-ExtraBold;
  font-size: 30px;
  color: #030303;
  line-break: 55px;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card .promo-card-content .subtitle {
  margin: 5px 0px 0px 0px;
  text-align: left;
  font-family: Muli-Regular;
  font-size: 20px;
  color: #e87f21;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card .promo-card-content .price-after-promo {
  margin: 0px 0px 0px 0px;
  text-align: left;
  font-family: Muli-Bold;
  font-size: 30px;
  color: #ff4c48;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card .promo-card-content .price-before-promo {
  margin: 0px 0px 0px 0px;
  text-align: left;
  font-family: Muli-Regular;
  font-size: 20px;
  color: #696868;
  text-decoration: line-through;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card .promo-card-content .benefit-1 {
  margin: 20px 0px 0px 0px;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card .promo-card-content .benefit-1 img {
  height: 30px;
  width: auto;
  margin: auto 0px auto 0px;
}

@media only screen and (max-width: 320px) {
  .page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card .promo-card-content .benefit-1 p {
    margin: auto 0px auto 10px;
    text-align: left;
    font-family: Muli-Regular;
    font-size: 13px;
    color: #010101;
  }
}

@media only screen and (min-width: 321px) {
  .page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card .promo-card-content .benefit-1 p {
    margin: auto 0px auto 5px;
    text-align: left;
    font-family: Muli-Regular;
    font-size: 17px;
    color: #010101;
  }
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card .promo-card-content .benefit-2 {
  margin: 10px 0px 0px 0px;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card .promo-card-content .benefit-2 img {
  height: auto;
  width: 35px;
  margin: auto 0px auto 0px;
}

@media only screen and (max-width: 320px) {
  .page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card .promo-card-content .benefit-2 p {
    margin: auto 0px auto 10px;
    text-align: left;
    font-family: Muli-Regular;
    font-size: 13px;
    color: #010101;
  }
}

@media only screen and (min-width: 321px) {
  .page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card .promo-card-content .benefit-2 p {
    margin: auto 0px auto 5px;
    text-align: left;
    font-family: Muli-Regular;
    font-size: 17px;
    color: #010101;
  }
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card .button-wrapper {
  margin: 20px 5% 40px 5%;
  width: 100%;
  z-index: 1;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card .button-wrapper .button-1 {
  margin: 10px 0px;
  height: 50px;
  display: block;
  padding: 8px;
  border-radius: 38px;
  background-color: #ff4c47;
  text-align: center;
  font-family: Muli-Regular;
  font-size: 17px;
  color: #ffffff;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-star .star-card .button-wrapper .button-2 {
  line-height: 30px;
  height: 50px;
  display: block;
  border-radius: 38px;
  border-style: solid;
  border-width: 2px;
  padding: 8px;
  border-color: #010101;
  text-align: center;
  font-family: Muli-Regular;
  font-size: 17px;
  color: #010101;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max {
  margin: 40px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 20px;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card {
  border-radius: 24px;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 5.8px 10.5px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 5.8px 10.5px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card .promo-card-cloud {
  z-index: 0;
  position: absolute;
  left: 0px;
  height: 300px;
  bottom: 0px;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card .promo-card-content {
  height: 50%;
  margin: 40px 8% 0px 8%;
  width: 100%;
  z-index: 1;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card .promo-card-content .image-modem-star {
  margin: 0px 20% 0px 20%;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card .promo-card-content .image-modem-star img {
  height: auto;
  width: 150%;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card .promo-card-content .title {
  margin: 20px 0px 0px 0px;
  text-align: left;
  font-family: Muli-Medium;
  font-size: 30px;
  color: #030303;
  line-break: 55px;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card .promo-card-content .title b {
  margin: 20px 0px 0px 0px;
  text-align: left;
  font-family: Muli-ExtraBold;
  font-size: 30px;
  color: #030303;
  line-break: 55px;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card .promo-card-content .subtitle {
  margin: 5px 0px 0px 0px;
  text-align: left;
  font-family: Muli-Regular;
  font-size: 20px;
  color: #e87f21;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card .promo-card-content .price-after-promo {
  margin: 0px 0px 0px 0px;
  text-align: left;
  font-family: Muli-Bold;
  font-size: 30px;
  color: #ff4c48;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card .promo-card-content .price-before-promo {
  margin: 0px 0px 0px 0px;
  text-align: left;
  font-family: Muli-Regular;
  font-size: 20px;
  color: #696868;
  text-decoration: line-through;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card .promo-card-content .benefit-1 {
  margin: 20px 0px 0px 0px;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card .promo-card-content .benefit-1 img {
  height: 30px;
  width: auto;
  margin: auto 0px auto 0px;
}

@media only screen and (max-width: 320px) {
  .page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card .promo-card-content .benefit-1 p {
    margin: auto 0px auto 10px;
    text-align: left;
    font-family: Muli-Regular;
    font-size: 13px;
    color: #010101;
  }
}

@media only screen and (min-width: 321px) {
  .page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card .promo-card-content .benefit-1 p {
    margin: auto 0px auto 10px;
    text-align: left;
    font-family: Muli-Regular;
    font-size: 17px;
    color: #010101;
  }
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card .promo-card-content .benefit-2 {
  margin: 10px 0px 0px 0px;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card .promo-card-content .benefit-2 img {
  height: auto;
  width: 35px;
  margin: auto 0px auto 0px;
}

@media only screen and (max-width: 320px) {
  .page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card .promo-card-content .benefit-2 p {
    margin: auto 0px auto 5px;
    text-align: left;
    font-family: Muli-Regular;
    font-size: 13px;
    color: #010101;
  }
}

@media only screen and (min-width: 321px) {
  .page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card .promo-card-content .benefit-2 p {
    margin: auto 0px auto 5px;
    text-align: left;
    font-family: Muli-Regular;
    font-size: 17px;
    color: #010101;
  }
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card .button-wrapper {
  margin: 20px 5% 40px 5%;
  width: 100%;
  z-index: 1;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card .button-wrapper .button-1 {
  margin: 10px 0px;
  height: 50px;
  display: block;
  padding: 8px;
  border-radius: 38px;
  background-color: #ff4c47;
  text-align: center;
  font-family: Muli-Regular;
  font-size: 17px;
  color: #ffffff;
}

.page-wrapper-mobile .promo-wrapper .promo-content .promo-card-max .max-card .button-wrapper .button-2 {
  line-height: 30px;
  height: 50px;
  display: block;
  border-radius: 38px;
  border-style: solid;
  border-width: 2px;
  padding: 8px;
  border-color: #010101;
  text-align: center;
  font-family: Muli-Regular;
  font-size: 17px;
  color: #010101;
}

.page-wrapper-mobile .promo-wrapper .promo-content .scroll {
  margin: 40px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-wrapper-mobile .promo-wrapper .promo-content .scroll img {
  height: 59px;
  width: 33px;
}

.page-wrapper-mobile .promo-wrapper .promo-content .scroll-text {
  margin: 14px 0px 0px 0px;
  font-family: Muli-SemiBold;
  font-size: 20px;
  color: #181818;
  text-align: center;
}

.page-wrapper-mobile .promo-wrapper .promo-layer {
  background-color: #f15b55;
  position: absolute;
  margin: 0 0 0 0;
  z-index: -5;
  overflow: hidden;
  top: 0;
  width: 100%;
  margin: 50px 0 0 0;
}

.page-wrapper-mobile .promo-wrapper .promo-layer .cloud-left {
  height: 50%;
  width: 50%;
  position: relative;
}

.page-wrapper-mobile .promo-wrapper .promo-layer .cloud-left img {
  z-index: 0;
  position: relative;
  left: -120px;
  top: 10px;
}

.page-wrapper-mobile .registration-wrapper {
  margin: 40px 0px 0px 0px;
  padding: 50px 0px  0px 0px;
  background-color: #f4f4f4;
}

.page-wrapper-mobile .registration-wrapper .registration-popup-wrapper {
  margin: -50px 0px 0px 0px;
  height: 1px;
  position: relative;
  z-index: 1;
  display: none;
}

.page-wrapper-mobile .registration-wrapper .registration-popup-wrapper .registration-popup-layer {
  opacity: 0.7;
  background-color: #0b0b0b;
  z-index: 2;
  height: 1350px;
  width: 100%;
}

.page-wrapper-mobile .registration-wrapper .registration-popup-wrapper .registration-popup-content {
  margin: 0px 0px 0px 0px;
  width: 100%;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page-wrapper-mobile .registration-wrapper .registration-popup-wrapper .registration-popup-content img {
  width: 340px;
  height: 300px;
  position: absolute;
  top: 340%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page-wrapper-mobile .registration-wrapper .registration-popup-wrapper .registration-popup-content .registration-popup-description {
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: auto;
  z-index: 4;
  position: relative;
  top: 490px;
}

.page-wrapper-mobile .registration-wrapper .registration-popup-wrapper .registration-popup-content .registration-popup-description h1 {
  text-align: center;
  font-family: Muli-ExtraBold;
  font-size: 20px;
  color: #ffffff;
}

.page-wrapper-mobile .registration-wrapper .registration-popup-wrapper .registration-popup-content .registration-popup-description hr {
  height: 2px;
  width: 50px;
  background-color: #ffffff;
  z-index: 4;
  position: relative;
}

.page-wrapper-mobile .registration-wrapper .registration-popup-wrapper .registration-popup-content .registration-popup-description p {
  text-align: center;
  font-family: Muli-Medium;
  font-size: 15px;
  color: #ffffff;
  line-height: 18px;
}

.page-wrapper-mobile .registration-wrapper .registration-popup-wrapper .registration-popup-content .registration-popup-description a {
  margin: 3px auto 0px auto;
  max-width: 300px;
  width: 100%;
  height: 40px;
  display: block;
  padding: 8px;
  border-radius: 38px;
  background-color: #ffffff;
  text-align: center;
  font-family: Muli-SemiBold;
  font-size: 15px;
  color: #ff4c47;
  z-index: 4;
  position: relative;
}

.page-wrapper-mobile .registration-wrapper .registration-content {
  margin: 40px auto 0px auto;
  max-width: 600px;
}

.page-wrapper-mobile .registration-wrapper .registration-content select {
  -webkit-appearance: none;
  color: #757575;
  background-image: linear-gradient(45deg, transparent 50%, red 50%), linear-gradient(135deg, red 50%, transparent 50%), linear-gradient(to right, white, white);
  background-position: calc(100% - 25px) calc(1em + 5px), calc(100% - 15.51px) calc(1em + 5px), 100% -5px;
  background-size: 10px 10px, 10px 10px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

.page-wrapper-mobile .registration-wrapper .registration-content h1 {
  margin: 0px 0px 0px 0px;
  height: 42px;
  text-align: center;
  font-family: Muli-ExtraBold;
  font-size: 40px;
  color: #181818;
}

.page-wrapper-mobile .registration-wrapper .registration-content h2 {
  padding: 0px 5%;
  margin: 29px 0px 37px 0px;
  text-align: center;
  font-family: Muli-SemiBold;
  font-size: 25px;
  color: #181818;
}

.page-wrapper-mobile .registration-wrapper .registration-content hr {
  height: 10px;
  width: 97px;
  background-color: #f15b55;
}

.page-wrapper-mobile .registration-wrapper .registration-content form, .page-wrapper-mobile .registration-wrapper .registration-content .form-register-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 10px 0px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-wrapper-mobile .registration-wrapper .registration-content form .form-label, .page-wrapper-mobile .registration-wrapper .registration-content .form-register-mobile .form-label {
  margin: 10px 0px 0px 0px;
  font-family: Muli-SemiBold;
  font-size: 25px;
  color: #181818;
}

.page-wrapper-mobile .registration-wrapper .registration-content form .form-input, .page-wrapper-mobile .registration-wrapper .registration-content .form-register-mobile .form-input {
  border-style: solid;
  border-width: 2px;
  border-color: #f15b55;
  height: 50px;
  background-color: #ffffff;
}

.page-wrapper-mobile .registration-wrapper .registration-content form #form-submit-mobile, .page-wrapper-mobile .registration-wrapper .registration-content .form-register-mobile #form-submit-mobile {
  margin: 53px auto;
  text-align: center;
  width: 100%;
  height: 50px;
  display: block;
  padding: 5px;
  border-radius: 38px;
  background-color: #ff4c47;
  text-align: center;
  font-family: Muli-SemiBold;
  font-size: 17px;
  color: #ffffff;
  border: #ff4c47;
}

.page-wrapper-mobile .registration-wrapper .registration-content form .form-error-mobile, .page-wrapper-mobile .registration-wrapper .registration-content .form-register-mobile .form-error-mobile {
  color: #FF0000;
  width: 100%;
  display: none;
}

.page-wrapper-mobile .spot-wrapper {
  margin: 40px 0px 0px 0px;
  padding: 0px 10px 0px 10px;
  position: relative;
}

.page-wrapper-mobile .spot-wrapper .spot-layer {
  height: 400px;
  position: absolute;
  bottom: 0px;
}

.page-wrapper-mobile .spot-wrapper .spot-layer img {
  height: 402px;
  width: 600px;
  z-index: -2;
  position: absolute;
  bottom: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-wrapper-mobile .spot-wrapper .spot-content {
  max-width: 600px;
  margin: 0px auto 0px auto;
}

.page-wrapper-mobile .spot-wrapper .spot-content .spot-location h1 {
  text-align: center;
  font-family: Muli-ExtraBold;
  font-size: 40px;
  color: #181818;
}

.page-wrapper-mobile .spot-wrapper .spot-content .spot-location hr {
  height: 10px;
  width: 97px;
  background-color: #f15b55;
}

.page-wrapper-mobile .spot-wrapper .spot-content .spot-location .spot-location-description {
  text-align: center;
}

.page-wrapper-mobile .spot-wrapper .spot-content .spot-image img {
  height: auto;
  width: 100%;
}

@media only screen and (min-width: 769px) {
  .page-wrapper-mobile {
    display: none;
  }
}
/*# sourceMappingURL=style-mobile.css.map */