.page-wrapper-laptop {
  padding: 60px 0px 0px 0px;
  width: 100%;
  overflow: hidden;
}

.page-wrapper-laptop .logo-wrapper {
  text-align: left;
  padding: 0px 5%;
  margin: 0 auto;
  max-width: 1440px;
}

.page-wrapper-laptop .logo-wrapper img {
  max-width: 180px;
  margin-left: 15px;
}

.page-wrapper-laptop .carousel-wrapper {
  padding: 0px 5%;
  margin: 0 auto;
  max-width: 1440px;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-1 .row .left-side .title {
  margin: 55px 0px 20px 0px;
  line-height: 50px;
  font-family: Muli-ExtraBold;
  font-size: 55px;
  color: #181818;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-1 .row .left-side .title span {
  color: #ff4c47;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-1 .row .left-side a {
  line-height: 32px;
  width: 100%;
  height: 76px;
  display: block;
  padding: 20px;
  border-radius: 38px;
  background-color: #ff4c47;
  text-align: center;
  font-family: Muli-SemiBold;
  font-size: 25px;
  color: #ffffff;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-1 .row .right-side {
  margin: 40px 0px 0px 0px;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-1 .row .right-side img {
  width: 100%;
  border-radius: 33px;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-1 .scroll {
  margin: 40px 0px 0px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-1 .scroll img {
  height: 59px;
  width: 33px;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-1 .scroll-text {
  margin: 14px 0px 0px 0px;
  line-height: 32px;
  font-family: Muli-SemiBold;
  font-size: 25px;
  color: #181818;
  text-align: center;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-2 .row .left-side .title {
  margin: 55px 0px 20px 0px;
  line-height: 50px;
  font-family: Muli-ExtraBold;
  font-size: 50px;
  color: #181818;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-2 .row .left-side .title span {
  color: #ff4c47;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-2 .row .left-side a {
  line-height: 32px;
  width: 100%;
  height: 76px;
  display: block;
  padding: 20px;
  border-radius: 38px;
  background-color: #ff4c47;
  text-align: center;
  font-family: Muli-SemiBold;
  font-size: 25px;
  color: #ffffff;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-2 .row .right-side {
  margin: 40px 0px 0px 0px;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-2 .row .right-side img {
  width: 100%;
  border-radius: 33px;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-2 .scroll {
  margin: 40px 0px 0px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-2 .scroll img {
  height: 59px;
  width: 33px;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-2 .scroll-text {
  margin: 14px 0px 0px 0px;
  line-height: 32px;
  font-family: Muli-SemiBold;
  font-size: 25px;
  color: #181818;
  text-align: center;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-3 .row .left-side .title {
  margin: 55px 0px 20px 0px;
  line-height: 58px;
  font-family: Muli-ExtraBold;
  font-size: 47px;
  color: #181818;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-3 .row .left-side .title span {
  color: #ff4c47;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-3 .row .left-side a {
  line-height: 32px;
  width: 100%;
  height: 76px;
  display: block;
  padding: 20px;
  border-radius: 38px;
  background-color: #ff4c47;
  text-align: center;
  font-family: Muli-SemiBold;
  font-size: 25px;
  color: #ffffff;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-3 .row .right-side {
  margin: 40px 0px 0px 0px;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-3 .row .right-side img {
  width: 100%;
  border-radius: 33px;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-3 .scroll {
  margin: 40px 0 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-3 .scroll img {
  height: 59px;
  width: 33px;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slide-3 .scroll-text {
  margin: 14px 0px 0px 0px;
  line-height: 32px;
  font-family: Muli-SemiBold;
  font-size: 25px;
  color: #181818;
  text-align: center;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slick-prev {
  background: url(../images/microsite/ic-arrow-prev.png);
  background-size: auto;
  width: 55px;
  height: 55px;
  left: -4.5%;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slick-next {
  background: url(../images/microsite/ic-arrow-next.png);
  background-size: auto;
  width: 55px;
  height: 55px;
  right: -2.5%;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slick-arrow {
  top: 40%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #eee;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slick-arrow:before {
  display: none;
}

.page-wrapper-laptop .carousel-wrapper .carousel .slick-slide {
  height: auto;
}

.page-wrapper-laptop .video-wrapper {
  margin: 0px 0px 0px 0px;
  padding-bottom: 50px;
  text-align: center;
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;
}

.page-wrapper-laptop .video-wrapper .video-content {
  padding: 0px 10%;
  margin: -750px 0px 0px 0px;
  z-index: 5;
  position: relative;
}

.page-wrapper-laptop .video-wrapper .video-content iframe {
  border-radius: 20px;
}

.page-wrapper-laptop .video-wrapper .video-content .scroll {
  margin: 80px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-wrapper-laptop .video-wrapper .video-content .scroll img {
  height: 59px;
  width: 33px;
}

.page-wrapper-laptop .video-wrapper .video-content .scroll-text {
  margin: 10px 0px 0px 0px;
  line-height: 32px;
  font-family: Muli-SemiBold;
  font-size: 25px;
  color: #181818;
  text-align: center;
}

.page-wrapper-laptop .video-wrapper .video-layer {
  height: 900px;
  margin: 0px 0px 0px 0px;
}

.page-wrapper-laptop .video-wrapper .video-layer .cloud-1 {
  height: 472px;
  width: 628px;
  top: 60px;
}

.page-wrapper-laptop .video-wrapper .video-layer .cloud-1 img {
  overflow-x: auto;
  z-index: -1;
  position: absolute;
  left: -150px;
  top: 100px;
}

.page-wrapper-laptop .video-wrapper .video-layer .cloud-2 {
  height: 607px;
  width: 813px;
}

.page-wrapper-laptop .video-wrapper .video-layer .cloud-2 img {
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  position: absolute;
  right: -140px;
  top: 15%;
}

.page-wrapper-laptop .promo-wrapper {
  margin: 63px 0px 0px 0px;
  padding: 0 0 300px 0;
  width: 100%;
  padding: 40px 0 0 0;
  margin: 0 auto;
  max-width: 1440px;
}

.page-wrapper-laptop .promo-wrapper .promo-content h1 {
  margin: 0px 0px 60px 0px;
  height: 42px;
  text-align: center;
  font-family: Muli-ExtraBold;
  font-size: 58px;
  color: #ffffff;
}

.page-wrapper-laptop .promo-wrapper .promo-content hr {
  height: 10px;
  width: 97px;
  background-color: #ffffff;
  z-index: 3;
  position: relative;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 63px 40px;
  height: 447px;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .left-card {
  margin: 0px 30px 0px 0px;
  border-radius: 24px;
  background-color: #ffffff;
  height: 447px;
  width: 670px;
  -webkit-box-shadow: 5.8px 10.5px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 5.8px 10.5px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 3;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .left-card .promo-card-cloud {
  height: 286px;
  width: 509px;
  z-index: 0;
  position: absolute;
  bottom: -50px;
  left: -30px;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .left-card .left-content-card {
  margin: auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .left-card .left-content-card img {
  height: auto;
  width: 150%;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .left-card .right-content-card {
  margin: 30px 0px 0px 0px;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .left-card .right-content-card .title {
  text-align: left;
  font-family: Muli-Medium;
  font-size: 43.9px;
  color: #030303;
  line-break: 55px;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .left-card .right-content-card .title b {
  text-align: left;
  font-family: Muli-ExtraBold;
  font-size: 47.5px;
  color: #030303;
  line-break: 55px;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .left-card .right-content-card .subtitle {
  margin: 5px 0px 0px 0px;
  text-align: left;
  font-family: Muli-Regular;
  font-size: 24px;
  color: #e87f21;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .left-card .right-content-card .price-after-promo {
  margin: 2px 0px 0px 0px;
  text-align: left;
  font-family: Muli-Bold;
  font-size: 37px;
  color: #ff4c48;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .left-card .right-content-card .price-before-promo {
  margin: 2px 0px 0px 0px;
  text-align: left;
  font-family: Muli-Regular;
  font-size: 20px;
  color: #696868;
  text-decoration: line-through;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .left-card .right-content-card .benefit-1 img {
  height: 30px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 10px 0px 0px;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .left-card .right-content-card .benefit-1 p {
  margin: 11px 0px 0px 0px;
  text-align: left;
  font-family: Muli-Regular;
  font-size: 20px;
  color: #010101;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .left-card .right-content-card .benefit-2 img {
  height: 43px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 4px 0px 0px;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .left-card .right-content-card .benefit-2 p {
  margin: 11px 0px 0px 0px;
  text-align: left;
  font-family: Muli-Regular;
  font-size: 20px;
  color: #010101;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .left-card .right-content-card .button-wrapper {
  margin: 20px 0px;
  width: 100%;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .left-card .right-content-card .button-wrapper .button-1 {
  margin: 0px 5px 0px 0px;
  width: 142px;
  height: 50px;
  display: block;
  padding: 10px;
  border-radius: 38px;
  border-style: solid;
  border-width: 2px;
  border-color: #010101;
  text-align: center;
  font-family: Muli-Regular;
  font-size: 17px;
  color: #010101;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .left-card .right-content-card .button-wrapper .button-2 {
  line-height: 30px;
  width: 142px;
  height: 50px;
  display: block;
  padding: 10px;
  border-radius: 38px;
  background-color: #ff4c47;
  text-align: center;
  font-family: Muli-Regular;
  font-size: 17px;
  color: #ffffff;
}

@media only screen and (min-width: 1024px) {
  .page-wrapper-laptop .promo-wrapper .promo-content .promo-card .left-card .right-content-card .button-wrapper .button-1 {
    margin: 0px 5px 0px 0px;
    width: 142px;
    height: 50px;
    display: block;
    padding: 13px;
    border-radius: 38px;
    border-style: solid;
    border-width: 2px;
    border-color: #010101;
    text-align: center;
    font-family: Muli-Regular;
    font-size: 14px;
    color: #010101;
  }
  .page-wrapper-laptop .promo-wrapper .promo-content .promo-card .left-card .right-content-card .button-wrapper .button-2 {
    line-height: 30px;
    width: 142px;
    height: 50px;
    display: block;
    padding: 10px;
    border-radius: 38px;
    background-color: #ff4c47;
    text-align: center;
    font-family: Muli-Regular;
    font-size: 14px;
    color: #ffffff;
  }
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .right-card {
  margin: 0px 0px 0px 0px;
  border-radius: 24px;
  background-color: #ffffff;
  height: 447px;
  width: 670px;
  -webkit-box-shadow: 5.8px 10.5px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 5.8px 10.5px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 3;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .right-card .promo-card-cloud {
  height: 286px;
  width: 509px;
  z-index: 0;
  position: absolute;
  bottom: -50px;
  left: -30px;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .right-card .left-content-card {
  margin: auto 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .right-card .left-content-card img {
  height: 300%;
  width: 150%;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .right-card .right-content-card {
  margin: 30px 0px 0px 0px;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .right-card .right-content-card .title {
  text-align: left;
  font-family: Muli-Medium;
  font-size: 43.9px;
  color: #030303;
  line-break: 55px;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .right-card .right-content-card .title b {
  text-align: left;
  font-family: Muli-ExtraBold;
  font-size: 47.5px;
  color: #030303;
  line-break: 55px;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .right-card .right-content-card .subtitle {
  margin: 5px 0px 0px 0px;
  text-align: left;
  font-family: Muli-Regular;
  font-size: 24px;
  color: #e87f21;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .right-card .right-content-card .price-after-promo {
  margin: 2px 0px 0px 0px;
  text-align: left;
  font-family: Muli-Bold;
  font-size: 37px;
  color: #ff4c48;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .right-card .right-content-card .price-before-promo {
  margin: 2px 0px 0px 0px;
  text-align: left;
  font-family: Muli-Regular;
  font-size: 20px;
  color: #696868;
  text-decoration: line-through;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .right-card .right-content-card .benefit-1 img {
  height: 30px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 10px 0px 0px;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .right-card .right-content-card .benefit-1 p {
  margin: 11px 0px 0px 5px;
  text-align: left;
  font-family: Muli-Regular;
  font-size: 20px;
  color: #010101;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .right-card .right-content-card .benefit-2 img {
  height: 43px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 4px 0px 0px;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .right-card .right-content-card .benefit-2 p {
  margin: 11px 0px 0px 0px;
  text-align: left;
  font-family: Muli-Regular;
  font-size: 20px;
  color: #010101;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .right-card .right-content-card .button-wrapper {
  margin: 20px 0px;
  width: 100%;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .right-card .right-content-card .button-wrapper .button-1 {
  margin: 0px 5px 0px 0px;
  width: 142px;
  height: 50px;
  display: block;
  padding: 10px;
  border-radius: 38px;
  border-style: solid;
  border-width: 2px;
  border-color: #010101;
  text-align: center;
  font-family: Muli-Regular;
  font-size: 17px;
  color: #010101;
}

.page-wrapper-laptop .promo-wrapper .promo-content .promo-card .right-card .right-content-card .button-wrapper .button-2 {
  line-height: 30px;
  width: 142px;
  height: 50px;
  display: block;
  padding: 10px;
  border-radius: 38px;
  background-color: #ff4c47;
  text-align: center;
  font-family: Muli-Regular;
  font-size: 17px;
  color: #ffffff;
}

@media only screen and (min-width: 1024px) {
  .page-wrapper-laptop .promo-wrapper .promo-content .promo-card .right-card .right-content-card .button-wrapper .button-1 {
    margin: 0px 5px 0px 0px;
    width: 142px;
    height: 50px;
    display: block;
    padding: 13px;
    border-radius: 38px;
    border-style: solid;
    border-width: 2px;
    border-color: #010101;
    text-align: center;
    font-family: Muli-Regular;
    font-size: 14px;
    color: #010101;
  }
  .page-wrapper-laptop .promo-wrapper .promo-content .promo-card .right-card .right-content-card .button-wrapper .button-2 {
    line-height: 30px;
    width: 142px;
    height: 50px;
    display: block;
    padding: 10px;
    border-radius: 38px;
    background-color: #ff4c47;
    text-align: center;
    font-family: Muli-Regular;
    font-size: 14px;
    color: #ffffff;
  }
}

.page-wrapper-laptop .promo-wrapper .promo-content .scroll {
  margin: 85px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-wrapper-laptop .promo-wrapper .promo-content .scroll img {
  height: 59px;
  width: 33px;
}

.page-wrapper-laptop .promo-wrapper .promo-content .scroll-text {
  margin: 14px 0px 0px 0px;
  line-height: 32px;
  font-family: Muli-SemiBold;
  font-size: 25px;
  color: #181818;
  text-align: center;
}

.page-wrapper-laptop .promo-wrapper .promo-layer {
  margin: -900px 0px 0px 0px;
  background-color: #f15b55;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page-wrapper-laptop .promo-wrapper .promo-layer .cloud-left {
  height: 607px;
  width: 548px;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.page-wrapper-laptop .promo-wrapper .promo-layer .cloud-left img {
  z-index: 0;
  position: absolute;
  left: -120px;
  top: 10px;
}

.page-wrapper-laptop .promo-wrapper .promo-layer .cloud-right {
  height: 562px;
  width: 945px;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

.page-wrapper-laptop .promo-wrapper .promo-layer .cloud-right img {
  z-index: 0;
  position: relative;
  right: 0px;
  top: 80px;
}

.page-wrapper-laptop .registration-wrapper {
  margin: 350px auto 0px auto;
  max-width: 1440px;
  overflow: hidden;
}

.page-wrapper-laptop .registration-wrapper .registration-layer {
  background-color: #f4f4f4;
  height: 1100px;
}

.page-wrapper-laptop .registration-wrapper .registration-layer .cloud-left {
  height: 1236px;
  width: 185px;
}

.page-wrapper-laptop .registration-wrapper .registration-layer .cloud-left img {
  z-index: 0;
  position: absolute;
  left: -650px;
  top: 10px;
}

.page-wrapper-laptop .registration-wrapper .registration-layer .cloud-right {
  height: 1230px;
  width: 191px;
}

.page-wrapper-laptop .registration-wrapper .registration-layer .cloud-right img {
  z-index: 0;
  position: absolute;
  right: -650px;
}

.page-wrapper-laptop .registration-wrapper .registration-content {
  margin: -1050px auto 0px auto;
  max-width: 1120px;
}

.page-wrapper-laptop .registration-wrapper .registration-content h1 {
  margin: 0px 0px 0px 0px;
  height: 42px;
  text-align: center;
  font-family: Muli-ExtraBold;
  font-size: 58px;
  color: #181818;
}

.page-wrapper-laptop .registration-wrapper .registration-content h2 {
  margin: 29px 0px 37px 0px;
  text-align: center;
  font-family: Muli-SemiBold;
  font-size: 25px;
  color: #181818;
}

.page-wrapper-laptop .registration-wrapper .registration-content hr {
  height: 10px;
  width: 97px;
  background-color: #f15b55;
}

.page-wrapper-laptop .registration-wrapper .registration-popup-wrapper {
  margin: -970px 0px 0px 0px;
  height: 950px;
  width: 100%;
  position: relative;
  z-index: 2;
  display: none;
}

.page-wrapper-laptop .registration-wrapper .registration-popup-wrapper .registration-popup-layer {
  opacity: 0.7;
  background-color: #0b0b0b;
  z-index: 2;
  height: 950px;
  width: 100%;
}

.page-wrapper-laptop .registration-wrapper .registration-popup-wrapper .registration-popup-content {
  margin: -800px 0px 0px 0px;
  width: 100%;
  z-index: 3;
  position: relative;
  padding: 10% 10%;
  text-align: center;
}

.page-wrapper-laptop .registration-wrapper .registration-popup-wrapper .registration-popup-content img {
  width: 900px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page-wrapper-laptop .registration-wrapper .registration-popup-wrapper .registration-popup-content .registration-popup-description {
  margin: 0px 0px 0px 0px;
  width: auto;
}

.page-wrapper-laptop .registration-wrapper .registration-popup-wrapper .registration-popup-content .registration-popup-description h1 {
  text-align: center;
  font-family: Muli-ExtraBold;
  font-size: 50px;
  color: #ffffff;
  z-index: 4;
  position: relative;
}

.page-wrapper-laptop .registration-wrapper .registration-popup-wrapper .registration-popup-content .registration-popup-description hr {
  height: 10px;
  width: 97px;
  background-color: #ffffff;
  z-index: 4;
  position: relative;
}

.page-wrapper-laptop .registration-wrapper .registration-popup-wrapper .registration-popup-content .registration-popup-description p {
  text-align: center;
  font-family: Muli-Medium;
  font-size: 30px;
  color: #ffffff;
  z-index: 4;
  position: relative;
}

.page-wrapper-laptop .registration-wrapper .registration-popup-wrapper .registration-popup-content .registration-popup-description a {
  margin: 20px auto;
  max-width: 420px;
  width: 100%;
  height: 76px;
  display: block;
  padding: 20px;
  border-radius: 38px;
  background-color: #ffffff;
  text-align: center;
  font-family: Muli-SemiBold;
  font-size: 25px;
  color: #ff4c47;
  z-index: 4;
  position: relative;
}

.page-wrapper-laptop .spot-wrapper {
  margin: 0px auto;
  max-width: 1440px;
  overflow: hidden;
}

.page-wrapper-laptop .spot-wrapper .spot-layer {
  height: 1000px;
}

.page-wrapper-laptop .spot-wrapper .spot-layer img {
  height: 602px;
  width: 900px;
  z-index: 0;
  position: relative;
  top: 350px;
  left: 750px;
}

.page-wrapper-laptop .spot-wrapper .spot-content {
  margin: -900px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 50px;
}

.page-wrapper-laptop .spot-wrapper .spot-content .spot-location h1 {
  margin: 112px 0px 0px 0px;
  text-align: left;
  font-family: Muli-ExtraBold;
  font-size: 45px;
  color: #181818;
}

.page-wrapper-laptop .spot-wrapper .spot-content .spot-location hr {
  margin: 29px 0px 0px 0px;
  height: 10px;
  width: 97px;
  background-color: #f15b55;
  text-align: left;
}

.page-wrapper-laptop .spot-wrapper .spot-content .spot-location .spot-location-description {
  margin: 45px 0px 0px 0px;
  text-align: left;
  font-family: Muli-Regular;
  font-size: 28px;
  color: #181818;
}

.page-wrapper-laptop .spot-wrapper .spot-content .spot-location .spot-location-description .left-side-description {
  margin: 0px 40px 0px 0px;
}

.page-wrapper-laptop .spot-wrapper .spot-content .spot-image img {
  height: 679px;
  width: 549px;
}

form, .form-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  position: relative;
  padding: 0 16px 53px 16px;
}

form select, .form-register select {
  -webkit-appearance: none;
  color: #757575;
  background-image: linear-gradient(45deg, transparent 50%, #646464 50%), linear-gradient(135deg, #646464 50%, transparent 50%), linear-gradient(to right, white, white);
  background-position: calc(100% - 25px) calc(1em + 10px), calc(100% - 15px) calc(1em + 10px), 100% -5px;
  background-size: 10px 10px, 10px 10px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

form .two-row-container, .form-register .two-row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form .two-row-content, .form-register .two-row-content {
  width: 49%;
}

form .two-row-input, .form-register .two-row-input {
  width: 100%;
  padding: 15px;
}

form .form-label, .form-register .form-label {
  margin: 10px 0px 0px 0px;
  font-family: Muli-SemiBold;
  font-size: 25px;
  color: #181818;
}

form .form-input, .form-register .form-input {
  width: 100%;
  padding: 15px;
}

form input[type=text], form select, .form-register input[type=text], .form-register select {
  border-style: solid;
  border-width: 2px;
  border-color: #646464;
  height: 64px;
  background-color: #ffffff;
}

form input[type=number], form select, .form-register input[type=number], .form-register select {
  border-style: solid;
  border-width: 2px;
  border-color: #646464;
  height: 64px;
  background-color: #ffffff;
}

form input[type=submit], form button[type=button], .form-register input[type=submit], .form-register button[type=button] {
  margin: 53px auto 0 auto;
  text-align: center;
  width: 420px;
  height: 76px;
  display: block;
  padding: 20px;
  border-radius: 38px;
  background-color: #ff4c47;
  text-align: center;
  font-family: Muli-SemiBold;
  font-size: 25px;
  color: #ffffff;
  border: #ff4c47;
}

form .form-error, .form-register .form-error {
  color: #FF0000;
  display: none;
}

form textarea, .form-register textarea {
  height: 130px;
  border-style: solid;
  border-width: 2px;
  border-color: #646464;
}

@media only screen and (max-width: 769px) {
  .page-wrapper-laptop {
    display: none;
  }
}
/*# sourceMappingURL=style-laptop.css.map */